
services:
  # ========================================
  # Spark Master
  # ========================================
  spark-master:
    image: spark:3.5.3
    container_name: moex-spark-master
    hostname: spark-master
    environment:
      - SPARK_NO_DAEMONIZE=true
    command: [ "/bin/bash","-lc","/opt/spark/sbin/start-master.sh --host spark-master --port 7077 --webui-port 8080 && tail -f /dev/null" ]
    ports:
      - "7077:7077"
      - "8083:8080"
    volumes:
      - spark-master-data:/opt/spark/data
      - ./spark-streaming/build/libs:/opt/spark-apps
    networks: [ moex-network ]

  spark-worker-1:
    image: spark:3.5.3
    container_name: moex-spark-worker-1
    hostname: spark-worker-1
    environment:
      - SPARK_NO_DAEMONIZE=true
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2g
    command: [ "/bin/bash","-lc","/opt/spark/sbin/start-worker.sh spark://spark-master:7077 && tail -f /dev/null" ]
    networks: [ moex-network ]
    depends_on:
      - spark-master

volumes:
  spark-master-data:
    driver: local
  spark-worker-1-data:
    driver: local
  # spark-worker-2-data:
  #   driver: local

networks:
  moex-network:
    external: true  # Use existing network from docker/kafka
